<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>Home | Phil Gibbins Portfolio Site</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id='container' class='container'>
  <main>
    <noscript>
      <h1>Please enable JavaScript on your device to see this website.</h1>
    </noscript>
  </main>
</div>
<script src="js/main.js"></script>
</body>
</html>
