// sass-lint:disable no-duplicate-properties

@mixin button-reset() {
  background-color: $primary-light-background-colour;
  border: none;
  padding: 0;
}

@mixin visually-hidden() {
  left: -99999px;
  position: absolute;
  top: -99999px;
}
