
///////////////////////////////////////////////////////////////////////////////
// COLOUR PALETTE
///////////////////////////////////////////////////////////////////////////////

// these colours should only be used in this file in other variables
$white: #fff;
$dark-grey: #4b545a;
$mid-grey: #97adb6;
$light-grey: #d5dde0;
$super-light-grey: #f6f6f6;

///////////////////////////////////////////////////////////////////////////////
// COLOURS
///////////////////////////////////////////////////////////////////////////////

// fonts
$primary-dark-body-font-colour: $dark-grey;
$secondary-dark-body-font-colour: $mid-grey;
$primary-light-body-font-colour: $white;
$secondary-light-body-font-colour: $super-light-grey;

// backgrounds
$primary-light-background-colour: $white;
$secondary-light-background-colour: $super-light-grey;
$tertiary-light-background-colour: $light-grey;
$modal-background-colour: rgba(62, 73, 88, 0.8);

// borders
$primary-border-colour: $light-grey;

///////////////////////////////////////////////////////////////////////////////
// IMAGES
///////////////////////////////////////////////////////////////////////////////

$image-path: '/assets/images/';

// icons
$test-icon: '#{ $image-path }icons/test.svg';
